<h1>Items in Your Basket</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>


  <% my_items = @checkout.basket_items %>
  <% my_items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= number_to_currency(item.price, :unit => '£') %></td>
      </tr>
  <% end %>

  <tr>
    <td><%='Total: '%></td>
    <td><%= number_to_currency(@checkout.total, :unit => '£') %></td>
  </tr>

</table>

<br />

